<?xml version="1.0"?>

<robot name="nxp_rs" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <link name="base_link">
        <visual>
            <geometry>
                <mesh filename="package://nxp_rs_description/meshes/base-link.STL"/>
            </geometry>
        </visual>

    </link>

    <joint name="joint-1" type="revolute">
        <parent link="base_link"/>
        <child link="link_1"/>
        <origin xyz="0.00 0.00 0.06" rpy="0.00 0.00 0.00"/>
        <axis xyz="0 0 1"/>
        <limit lower="-3.14" upper="3.14" effort="1.0" velocity="1.0"/>
    </joint>

    <link name="link_1">
    <visual>
            <geometry>
            <mesh filename="package://nxp_rs_description/meshes/link-1.STL"/>
            </geometry>
        </visual>

    </link>

    <joint name="joint-2" type="revolute">
        <parent link="link_1"/>
        <child link="link_2"/>
        <origin xyz="0.00 -0.043 0.0445" rpy="0.00 0.00 0.00"/>
        <axis xyz="0 1 0"/>
        <limit lower="-1.863" upper="1.877" effort="1.0" velocity="1.0"/>
    </joint>

    <link name="link_2">
    <visual>
            <geometry>
            <mesh filename="package://nxp_rs_description/meshes/link-2.STL"/>
            </geometry>
        </visual>

    </link>

    <joint name="joint-3" type="revolute">
        <parent link="link_2"/>
        <child link="link_3"/>
        <origin xyz="0.00 0.046 0.1030" rpy="0.00 0.00 0.00"/>
        <axis xyz="0 0 1"/>
        <limit lower="-3.215" upper="3.015" effort="1.0" velocity="1.0"/>
    </joint>

    <link name="link_3">
    <visual>
            <geometry>
            <mesh filename="package://nxp_rs_description/meshes/link-3.STL"/>
            </geometry>
        </visual>

    </link>

    <joint name="joint-4" type="revolute">
        <parent link="link_3"/>
        <child link="link_4"/>
        <origin xyz="0.00 -0.043 0.0445" rpy="0.00 0.00 0.00"/>
        <axis xyz="0 1 0"/>
        <limit lower="-2.28" upper="2.086" effort="1.0" velocity="1.0"/>
    </joint>

    <link name="link_4">
    <visual>
            <geometry>
            <mesh filename="package://nxp_rs_description/meshes/link-4.STL"/>
            </geometry>
        </visual>

    </link>

    <joint name="joint-5" type="revolute">
        <parent link="link_4"/>
        <child link="link_5"/>
        <origin xyz="0.00 0.0125 0.095" rpy="0.00 0.00 0.00"/>
        <axis xyz="0 1 0"/>
        <limit lower="-1.839" upper="2.089" effort="1.0" velocity="1.0"/>
    </joint>

    <link name="link_5">
    <visual>
            <geometry>
            <mesh filename="package://nxp_rs_description/meshes/link-5.STL"/>
            </geometry>
        </visual>

    </link>

    <joint name="joint-6" type="revolute">
        <parent link="link_5"/>
        <child link="palm"/>
        <origin xyz="0.00 0.0322 0.0824" rpy="0.00 0.00 0.00"/>
        <axis xyz="0 0 1"/>
        <limit lower="-4.007354308" upper="2.381645692" effort="1.0" velocity="1.0"/>
    </joint>

    <link name="palm">
    <visual>
            <geometry>
            <mesh filename="package://nxp_rs_description/meshes/palm.STL"/>
            </geometry>
        </visual>

    </link>

    <!-- Fixed grasp/TCP frame centered between the mirrored fingers. -->
    <link name="grasp_frame"/>
    <joint name="grasp_frame_joint" type="fixed">
        <parent link="palm"/>
        <child link="grasp_frame"/>
        <origin xyz="0.002675 0.000000 0.103650" rpy="0.00 0.00 0.00"/>
    </joint>

    <link name="right-finger">
    <visual>
            <geometry>
            <mesh filename="package://nxp_rs_description/meshes/right-finger.STL"/>
            </geometry>
        </visual>

    </link>

    <joint name="joint_right-finger" type="prismatic">
        <parent link="palm"/>
        <child link="right-finger"/>
        <origin xyz="-0.013525 -0.077126 0.060400" rpy="0.00 0.00 0.00"/>
        <axis xyz="0 1 0"/>
        <limit lower="0.0" upper="0.0837560613" effort="1.0" velocity="1.0"/>
    </joint>

    <link name="left-finger">
    <visual>
            <geometry>
            <mesh filename="package://nxp_rs_description/meshes/left-finger.STL"/>
            </geometry>
        </visual>

    </link>

    <joint name="joint_left-finger" type="prismatic">
        <parent link="palm"/>
        <child link="left-finger"/>
        <origin xyz="-0.013525 0.077126 0.060400" rpy="0.00 0.00 0.00"/>
        <axis xyz="0 1 0"/>
        <limit lower="-0.0837560613" upper="0.0" effort="1.0" velocity="1.0"/>
    </joint>



</robot>
